{% extends "main/base.html" %}

{% load staticfiles %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.backstretch.js" %}"></script>
{% endblock %}

{% block content %}
    <section>
        <div class="slider">
            <div class="intro-body text-center">
                <div class="container intro-content animated bounceIn" style="opacity: 1;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro-text text-center">
                                <h2>Automatic code verification in Cloud</h2>
                                <p class="lead">
                                    You focus on what you do the best. We'll take care of the rest.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="who-we-are">
        <div class="container inner-top inner-bottom-sm">
            <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center animated fadeInUp" style="opacity: 0;">
                    <header>
                        <h1 class="header-title">Scalable. Effective.Reliable.</h1>
                        <p>We believe everyone inevitably faces with the need of to work on programming assignments which later have to be verified by the professor or by the assistant. Our strong belief nobody really likes the submission process. Students do not have immediate feedback, solution might be lost. Assistant has to run manually each solution and provide the corresponding grade. But not now. With a help of our service you can simplify this process. Our project is mainly for people who are interested in automatic solution verification.</p>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <section id="quote" class="section section-bgtype-image">

        <div class="section-inner">

            <div class="bg-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="quote-text text-center">
                            <span class="quote-icon animated fadeInUp delayp1" style="opacity: 1;"><i class="fa fa-quote-right fa-4x"></i></span>
                            <h4>Using CODE was a nice experience! It was really simple to download the template code, implement the solution and upload it to the web service. Syntax highlight is awesome! Since now, no paper programming. Simple than ever!</h4>
                            <h2 class="lead quote-by animated fadeInUp
                            delayp3 delayp5" style="opacity: 1;">Tim Graham - USA</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="technologies" class="technologies section">
            <div class="container text-center">
                <h2 class="title text-highlight">What technologies we are using</h2>
                <p class="summary">We only use what really works...</p>
                <div class="services">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 ux-col">
                            <h3 class="title title-ux"><span>Client</span></h3>
                            <ul class="list-unstyled text-right">
                                <li>Bootstrap</li>
                                <li>JavaScript, HTML5, CSS3 <span class="sub">(+ jQuery)</span></li>
                                <li>CodeMirror <span class="sub">(JS library)</span></li>
                                <li>prism.js <span class="sub">(JS library)
                                </span></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 ui-col">
                            <h3 class="title title-ui"><span>Server</span></h3>
                            <ul class="list-unstyled text-left">
                                <li>Spring<span class="sub"> (IoC, AOP, Security)</span></li>
                                <li>Django<span class="sub"> (Python Web Framework)</span></li>
                                <li>Hibernate<span class="sub"> (Java ORM)</span></li>
                                <li>Heroku PaaS</li>
                                <li>CloudAMQP<span class="sub"> (RabbitMQ as a Service)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center other-services">
                        <h3 class="title-other">And a lot more...</h3>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript">
    (function ($) {
        $('.slider').backstretch([
            "{% static "images/slide2.jpg" %}",
            "{% static "images/slide1.jpg" %}",
            "{% static "images/slide3.jpg" %}"
        ], {duration: 3000, fade: 3000});
    }(jQuery));
    </script>
{% endblock %}