{% extends "main/base.html" %}

{% block title %}Our team - Code{% endblock %}

{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="underline-title">Our team</h2>
            <div class="col-md-3">
                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-1">
                        <div class="panel-body">
                            <h3 class="section-title text-center">
                                Okolnychyi Anton
                                <div class="clearfix"></div>
                            </h3>
                            <div class="clearfix text-center">
                                <img src="{% static "images/authors/okolnychyi.jpg" %}" alt="t1" width="180" height="220" class="imageborder"></div>
                            <div class="clearfix"></div>
                            <hr>
                            <a href="https://www.facebook.com/profile.php?id=100007457508103" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                            <a href="https://vk.com/okolnychyi" class="social-icon soc-vk animated fadeInDown"><i class="fa fa-vk"></i></a>
                            <a href="https://github.com/aokolnychyi/" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-2">
                        <div class="panel-body">
                            <h3 class="section-title  text-center">
                                Vert <br/> Tatiana
                                <div class="clearfix"></div>
                            </h3>
                            <div class="clearfix text-center">
                                <img src="{% static "images/authors/vert.jpg" %}" alt="t1" width="180" height="220" class="imageborder"></div>
                            <div class="clearfix"></div>
                            <hr>
                            <a href="https://www.facebook.com/tanya.wert" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                            <a href="https://vk.com/werttanya" class="social-icon soc-vk animated fadeInDown"><i class="fa fa-vk"></i></a>
                            <a href="https://github.com/werttanya" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/view?id=li_253609457" class="social-icon soc-linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-3">
                        <div class="panel-body">
                            <h3 class="section-title text-center">
                                Zastupailo Oleksandr
                                <div class="clearfix"></div>
                            </h3>
                            <div class="clearfix text-center">
                                <img src="{% static "images/authors/zastupailo.jpg" %}" alt="t1" width="180" height="220" class="imageborder"></div>
                            <div class="clearfix"></div>
                            <hr>
                            <a href="https://www.facebook.com/profile.php?id=100007796958031" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                            <a href="https://vk.com/id163372668" class="social-icon soc-vk animated fadeInDown"><i class="fa fa-vk"></i></a>
                            <a href="https://github.com/azastupailo" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/view?id=li_244399190" class="social-icon soc-linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-4">
                        <div class="panel-body">
                            <h3 class="section-title text-center">
                                Zwilling Frederik
                                <div class="clearfix"></div>
                            </h3>
                            <div class="clearfix text-center">
                                <img src="{% static "images/authors/zwilling.jpg" %}" alt="t1" width="180" height="220" class="imageborder"></div>
                            <div class="clearfix"></div>
                            <hr>
                            <a href="https://plus.google.com/u/0/112357993582243406289" class="social-icon soc-google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                            <a href="https://www.facebook.com/fzwilling" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/zwilling/" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="float: none; margin: 0 auto">
                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-5">
                        <div class="panel-body">
                            <h3 class="section-title text-center">
                                Sharma Dev
                                <div class="clearfix"></div>
                            </h3>
                            <div class="clearfix text-center">
                                <img src="{% static "images/authors/sharma.jpg" %}" alt="t1" width="180" height="220" class="imageborder"></div>
                            <div class="clearfix"></div>
                            <hr>
                            <a href="https://plus.google.com/u/0/111519125557433487492/" class="social-icon soc-google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                            <a href="https://www.facebook.com/devsharma1210" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/devsharma1210" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}