{% extends "main/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">Login</h1>
        </div>
    </header>
    <div class="container">
    <div class="row">
        <div class="center-block logig-form">
            <div class="panel panel-default">
                <div class="panel-heading">Login Form</div>
                <div class="panel-body">
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="div-error">{{ form.non_field_errors }}</div>
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{ form.username|add_class:"form-control" }}
                            </div>
                            {% if form.username.errors %}
                                <span class="error">{{ form.username.errors|join:", " }}</span>
                            {% endif %}
                            <br>
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {{ form.password|add_class:"form-control"}}
                            </div>
                            {% if form.password.errors %}
                                    <span class="error">{{ form.password.errors|join:", " }}</span>
                            {% endif %}
                            <hr>
                            <button type="submit" class="btn btn-primary pull-right animated fadeInDown animation-delay-3" name="login" id="login" value="Log in">Login</button>
                            <a href="/accounts/register" class="btn
                            btn-success pull-left animated fadeInDown animation-delay-1">Create Account</a>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container  -->
{% endblock %}