{% extends "main/base.html" %}

{% block title %}Registration complete{% endblock %}

{% block content %}
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">Registration complete</h1>
        </div>
    </header>
    <div class="container">
        <h2 class="section-title">Check your email</h2>
        <p class="message">An activation link has been sent to the email
            address you
            supplied, along with instructions for activating your account.</p>
    </div>
{%  endblock %}