{% extends "main/base_with_title.html" %}

{% load macros %}
{% macro form_field field %}
    <div class="form-group">
        <label class="label">
            {{field.label_tag}}
            {% if field.field.required %}
                <span class="ast_required">*</span>
            {% endif %}
        </label>
        {% if "password" in field.name %}
            <input type="password" class="form-control" id="{{ field.name }}" name="{{ field.name }}">
        {% else %}
            <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}">
        {% endif %}
    </div>
{% endmacro %}

{% block title %}Sign up{% endblock %}
{% block page-content %}
    <div class="container">
        <h2 class="section-title">Create Account</h2>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary animated fadeInDown">
                    <div class="panel-heading">Register Form</div>
                    <div class="panel-body">
                        <form method="post"  action="" class="wide">
                            {% csrf_token %}
                            {% load error_message %}
                            {% for field in form.visible_fields %}
                                {% if field.name == "password1" %}
                                    <div class="row">
                                    <div class="col-md-6">
                                        {% usemacro form_field field %}
                                    </div>
                                {% elif field.name == "password2" %}
                                    <div class="col-md-6">
                                        {% usemacro form_field field %}
                                    </div></div>
                                {% else %}
                                    {% usemacro form_field field %}
                                {% endif %}
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary pull-right" value="Register" name="Register">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel-errors panel animated fadeInDown">
                    {% if form.errors %}
                        <p class="errors">Please correct the errors below:
                            <div class="div-error">{{ form.non_field_errors }}</div>
                        </p>
                    {% endif %}
                    {% for field in form.visible_fields %}
                        {% show_single_error field.errors %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}