<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row menu bgimgheader"><P>&nbsp;<P>
        <div class="col-md-8"><a href="default.asp"><img src="../images/code_white.png" alt="code" height="30" width="100"></a></div> 
        <div class="col-md-4 menu">
          <ul>
            <li><a href="default.asp"><b class="text-uppercase">Home</b></a></li>
            <li><a href="news.asp"><b class="text-uppercase">Courses</b></a></li>
            <li><a href="contact.asp"><b class="text-uppercase">Sign up</b></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" >
        <h2>C# Essential Training,<a href="http://github.com/"><small>David Garsner</small></a></h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="course-menu">
            <ul>
              <li><a href="default.asp"><b class="text-uppercase">overview</b></a></li>
              <li><a href="news.asp"><b class="text-uppercase">Material</b></a></li>
              <li><a href="contact.asp"><b class="text-uppercase">Quizzes</b></a></li>
              <li><a href="contact.asp"><b class="text-uppercase">Deadlines</b></a></li>
            </ul>
          </div>
          <h3 class="text-center">Content</h3>

          <div id="list-chapters">
          <ol>
           <li><a href="">What Is C#?</a></li>
           <li><a href="">Getting Started</a></li>
           <li><a href="">Language Fundamentals</a></li>
           <li><a href="">Managing Application Flow</a></li>
           <li><a href="">Exception Handling and Debugging</a></li>
           <li><a href="">Managing Collections of Data</a></li>
           <li><a href="">Creating Custom Classes</a></li>
           <li><a href="">Working with Inheritance and Polymorphism</a></li>
          </ol>
          </div>
        </div>
        <div class="col-md-8 verticalLine">
          <h3 class="text-center">What is C#?</h3>
          <p class="text-justify text-center">C# is an object-oriented language designed by Microsoft and used by systems engineers, desktop programmers, and mobile app developers the world over. In these tutorials, David Gassner takes you through C#'s history, its core syntax, and the fundamentals of writing strong C# code. After explaining C#'s relationship to .NET and Windows, David shows how to install Visual Studio, a great IDE for developing in C#, and then dives into the language itself. Along the way, he covers topics such as:</p>
          <h4 class="text-center">Assignment1</h4>
          <p class="text-justify text-center">Write a hello world program in C# ?</p>
          <div id="wrap">
            <form action="" autocomplete="on">
              <textarea name="message" rows="10" cols="105" placeholder="Paste your code here"></textarea>
              <input id="search_submit" value="Submit" type="submit">
            </form>
          </div>
          <h4 class="text-center">Solution: Assignment1</h4>
          <code>
            <pre>
            public class Hello1
            {
              public static void Main()
              {
                System.Console.WriteLine("Hello, World!");
              }
            }
            </pre>
          </code>
          <h4 class="text-center">Feedback and Exceptions: Assignment1</h4>
          <div id="wrap">
            <form action="" autocomplete="on">
              <textarea name="message" rows="10" cols="105" placeholder="Feed back could be thrown in this text field?"></textarea>
            </form>
          </div>

        </div>
      </div>  
      <div class="navbar bgimgfooter">
        <div class="row" id="footer">
          <p class="text-center text-uppercase">Made by DAFOT</p>
          <p class="text-center text-uppercase">WebTech - WS2014/15</p>
        </div>
      </div>
    </div>
  </body>
</html>  