<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row menu bgimgheader"><P>&nbsp;<P>
        <div class="col-md-8"><a href="default.asp"><img src="../images/code_white.png" alt="code" height="30" width="100"></a></div> 
        <div class="col-md-4 menu">
          <ul>
            <li><a href="news.asp"><b class="text-uppercase">Courses</b></a></li>
            <li><a href="contact.asp"><b class="text-uppercase">Sign up</b></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row" >
      <h2>List of Courses</h2>
      <div id="wrap">
        <form action="" autocomplete="on">
          <input id="search" name="search" type="text" placeholder="Search for Course...">
          <input id="search_submit" value="Search" type="submit">
        </form>
      </div>
      </div>
    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/550x250" class="img-responsive">
        <h3><a href="">C# Essential Training with</a>&nbsp;<a href="http://github.com/"><small>David Garsner</small></a><small><strong>&nbsp;&nbsp;&nbsp;Level: <em>Intermediate</em></strong></small></h3>
        <p class="text-justify">Learn C#, the object-oriented language from Microsoft that's used to program systems, desktop applications, and mobile apps. These C# tutorials cover the history, syntax, and important concepts of this powerful programming language. &nbsp;<a href="http://github.com/">I wanna do it</a></p>
      </div>
      <div class="col-md-6">
        <img src="http://placehold.it/550x250" class="img-responsive">
        <h3><a href="">C# Essential Training with</a>&nbsp;<a href="http://github.com/"><small>David Garsner</small></a><small><strong>&nbsp;&nbsp;&nbsp;Level: <em>Intermediate</em></strong></small></h3>
        <p class="text-justify">Learn C#, the object-oriented language from Microsoft that's used to program systems, desktop applications, and mobile apps. These C# tutorials cover the history, syntax, and important concepts of this powerful programming language. &nbsp;<a href="http://github.com/">I wanna do it</a></p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/550x250" class="img-responsive">
        <h3><a href="">C# Essential Training with</a>&nbsp;<a href="http://github.com/"><small>David Garsner</small></a><small><strong>&nbsp;&nbsp;&nbsp;Level: <em>Intermediate</em></strong></small></h3>
        <p class="text-justify">Learn C#, the object-oriented language from Microsoft that's used to program systems, desktop applications, and mobile apps. These C# tutorials cover the history, syntax, and important concepts of this powerful programming language. &nbsp;<a href="http://github.com/">I wanna do it</a></p>
      </div>
      <div class="col-md-6">
        <img src="http://placehold.it/550x250" class="img-responsive">
        <h3><a href="">C# Essential Training with</a>&nbsp;<a href="http://github.com/"><small>David Garsner</small></a><small><strong>&nbsp;&nbsp;&nbsp;Level: <em>Intermediate</em></strong></small></h3>
        <p class="text-justify">Learn C#, the object-oriented language from Microsoft that's used to program systems, desktop applications, and mobile apps. These C# tutorials cover the history, syntax, and important concepts of this powerful programming language. &nbsp;<a href="http://github.com/">I wanna do it</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/550x250" class="img-responsive">
        <h3><a href="">C# Essential Training with</a>&nbsp;<a href="http://github.com/"><small>David Garsner</small></a><small><strong>&nbsp;&nbsp;&nbsp;Level: <em>Intermediate</em></strong></small></h3>
        <p class="text-justify">Learn C#, the object-oriented language from Microsoft that's used to program systems, desktop applications, and mobile apps. These C# tutorials cover the history, syntax, and important concepts of this powerful programming language. &nbsp;<a href="http://github.com/">I wanna do it</a></p>
      </div>
      <div class="col-md-6">
        <img src="http://placehold.it/550x250" class="img-responsive">
        <h3><a href="">C# Essential Training with</a>&nbsp;<a href="http://github.com/"><small>David Garsner</small></a><small><strong>&nbsp;&nbsp;&nbsp;Level: <em>Intermediate</em></strong></small></h3>
        <p class="text-justify">Learn C#, the object-oriented language from Microsoft that's used to program systems, desktop applications, and mobile apps. These C# tutorials cover the history, syntax, and important concepts of this powerful programming language. &nbsp;<a href="http://github.com/">I wanna do it</a></p>
      </div>
    </div>
      <div class="navbar bgimgfooter">
        <div class="row" id="footer">
          <p class="text-center text-uppercase">Made by DAFOT</p>
          <p class="text-center text-uppercase">WebTech - WS2014/15</p>
        </div>
      </div>
    </div>
  </body>
</html>  