<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row menu bgimgheader"><P>&nbsp;<P>
        <div class="col-md-8"><a href="default.asp"><img src="../images/code_white.png" alt="code" height="30" width="100"></a></div> 
        <div class="col-md-4 menu">
          <ul>
            <li><a href="default.asp"><b class="text-uppercase">Home</b></a></li>
            <li><a href="news.asp"><b class="text-uppercase">Courses</b></a></li>
            <li><a href="contact.asp"><b class="text-uppercase">Sign up</b></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 home">
          <P>&nbsp;<P><P>&nbsp;<P><P>&nbsp;<P><P>&nbsp;<P><P>&nbsp;<P>
          <h2> What do you want <br>to <mark>code</mark> today?</h2>
        </div>
        <div class="col-md-4">
          <div class="login-card">
            <form action="" method="post">  
              <label>YOUR NAME</label>
              <input type="text" name="name" placeholder="Dafot" width="100px;">
              <label>EMAIL ID </label>
              <input type="text" name="email" placeholder="yourname@gmail.com">   
              <label>  REGISTER AS&nbsp;</label>
              <input type="radio" name="designation" value="Teacher">Teacher
              &nbsp;&nbsp;
              <input type="radio" name="designation" value="Student">Student<br>
              <P>&nbsp;<P>
              <label>INSTITUTION</label>
              <input type="text" name="institution" placeholder="Institution you are affliated with">
              <label>PASSWORD </label>
              <input type="text" name="password" placeholder="password">
              <label>CONFIRM PASSWORD </label>
              <input type="text" name="Confirm Password" placeholder="Confirm Password">   
              <input type="submit" value="Register" id="submit">    
            </form>
          </div>  
        </div>  
    </div>
    <div class="container-fluid">
      <div class="navbar navbar-fixed-bottom bgimgfooter">
        <div class="row" id="footer">
          <p class="text-center text-uppercase">Made by DAFOT</p>
          <p class="text-center text-uppercase">WebTech - WS2014/15</p>
        </div>
      </div>
    </div>  
  </body>
</html>  