<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row menu"><P>&nbsp;<P>
        <div class="col-md-8"><a href="default.asp"><img src="../images/code.png" alt="Smiley face" height="30" width="100"></a></div> 
        <div class="col-md-4">
          <ul>
            <li><a href="default.asp"><b class="text-uppercase">Home</b></a></li>
            <li><a href="news.asp"><b class="text-uppercase">Courses</b></a></li>
            <li><a href="contact.asp"><b class="text-uppercase">contact</b></a></li>
            <li><a href="about.asp"><b class="text-uppercase">about</b></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row ">
        <div class="col-md-8 home">
          <P>&nbsp;<P><P>&nbsp;<P><P>&nbsp;<P><P>&nbsp;<P><P>&nbsp;<P>
          <h2> What do you want <br>to <mark>code</mark> today?</h2>
        </div>
        <div class="col-md-4">
          <P>&nbsp;<P><P>&nbsp;<P><P>&nbsp;<P>
          <div class="login-card">
            <h1>Let's do it</h1><br>
            <form>
              <input type="text" name="user" placeholder="Username">
              <input type="password" name="pass" placeholder="Password">
              <input type="submit" name="login" class="login login-submit" value="Login">
            </form>
            <div class="login-help">
              <a href="#"><p>Register</p></a>
              <br>     
              <a href="#"><p>Forgot Password</p></a>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-fixed-bottom">
        <hr>
        <div class="row">
          <p class="text-center text-uppercase">Project by DAFOT</p>
        </div>
        
        </div>
      </div>
    </div>
  </body>
</html>  