@import url("slider.css");

@font-face {
  font-family: 'mensch';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/mensch-webfont.eot');
}
/* For real web browsers */
@font-face {
  font-family: 'mensch';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/mensch-webfont.ttf');
}
/* GENERAL ------------------------------------------------------------*/
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.no-left-margin {
    margin-left: 0px;
}
.wrapper {
  margin: 0 auto;
  width: 940px;
  position: relative;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background: #95c9c3 url(../img/grunge.png) repeat-x center 150px;
}
body a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body p {
  margin-bottom: 21px;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
label {
    font-size: 18px;
    margin-left: 10px;
    margin-right:15px;
}

input {
    padding-left: 5px;
    margin: 5px 0 5px 0;
}
/* HEADER ----------------------------------------------------*/header {
  background: url(../img/header.png);
  min-height: 150px;
}
header #logo:hover {
  opacity: 0.8;
}
header #logo img {
  display: block;
  margin: 30px auto;
}
.menu {
  margin: 0;
}
/* NAVIGATION ------------------------------------------------------------*/
nav {
  height: 68px;
  float: left;
  width: 100%;
  margin-top: 0px;
  position: relative;
  background: url(../img/ribbon.png) no-repeat top center;
}
#nav {
  clear: left;
  display: block;
  float: right;
  position: relative;
  right: 50%;
  text-align: center;
}
#nav > li {
  display: block;
  float: left;
  position: relative;
  left: 50%;
  font-family: mensch;
  word-spacing: -0.1em;
  font-size: 20px;
  /* sub navigation -----------------------------------------------------*/

}
#nav > li a {
  display: block;
  padding: 20px 10px 0px 10px;
  color: #f3e4c8;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
/* MAIN ----------------------------------------------------*/#main .wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  min-height: 500px;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
}
/* HEADLINE ----------------------------------------------------*/.headline {
  color: #cb5432;
  text-align: center;
  font-family: mensch;
  font-size: 48px;
  line-height: 1.3em;
  word-spacing: -0.1em;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}
/* FEATURE ----------------------------------------------------*/
.feature {
  width: 960px;
  margin-left: -20px;
}
.feature li {
  position: relative;
  background: #f3e4c8;
  width: 300px;
  margin-bottom: 50px;
  margin-left: 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.feature li .thumb {
  display: block;
  margin: 10px;
  width: 280px;
}
.feature li .thumb img {
  max-width: 100%;
}
.feature li .caption {
  padding: 10px 10px 20px 10px;
  text-align: center;
  font-family: mensch;
}
.feature li a {
  color: #cb5432;
}
.feature li .thumb {
  position: relative;
}
.feature li .thumb .date {
  position: absolute;
  bottom: -25px;
  left: 110px;
  display: block;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  height: 50px;
  width: 60px;
  background: #f3e4c8;
  float: left;
  font-family: mensch;
  padding-top: 10px;
}
.feature li .thumb .date span {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
.feature .cover {
    position: relative;
    background: #f3e4c8;
    width: 160px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}

form .feature {
    position: relative;
    background: #f3e4c8;
    width: 350px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.feature fieldset {
    border: none;
    font-family: mensch;
}
/* FOOTER ----------------------------------------------------*/footer {
  background: #585246 url(../img/footer.png) repeat-x;
  color: #f3e4c8;
  padding-bottom: 20px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #cb5432;
}
footer .sb-holder {
  position: relative;
  left: 50%;
  text-align: center;
  float: left;
}
footer #social-bar {
  display: block;
  position: relative;
  float: left;
  right: 50%;
  margin: -7px 5px 0px 5px;
  background: url(../img/social-bg.png) repeat-x;
  height: 46px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
footer #social-bar li {
  float: left;
  line-height: 1em;
  margin-left: 3px;
  margin-right: 3px;
}
footer #social-bar li a {
  display: block;
  line-height: 0em;
}
footer #social-bar li a:hover {
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}
footer #social-bar .left-corner {
  position: absolute;
  top: 0px;
  left: -10px;
  display: block;
  width: 10px;
  height: 18px;
  background: url(../img/social-left-corner.png) no-repeat left top;
}
footer #social-bar .right-corner {
  position: absolute;
  top: 0px;
  right: -13px;
  display: block;
  width: 10px;
  height: 18px;
  background: url(../img/social-right-corner.png) no-repeat left top;
}
footer #footer-bottom {
  font-size: 14px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 50px;
}

.dark-shadow {
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1)
}

.central-container {
    width: 100%;
    text-align:center;
}

#canvas-container {
    margin-bottom: 20px;
}

#can-reservation {
  position: relative;
}

/* BUTTON ----------------------------------------------------*/.pomegranate-flat-button {
    display: block;
    position: relative;
    vertical-align: top;
    width: 20%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: mensch;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #A83E2A;
    border: 0;
    border-bottom: 2px solid #6F291B;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #6F291B;
    box-shadow: inset 0 -2px #6F291B;
}

.pomegranate-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.movie-description {
    padding: 0px 10px 5px 10px;
    text-align: center;
    font-family: mensch;
}

.movie {
    display: block;
    margin: 5px 5px 0px 5px;
    width: 150px;
    position: relative;
}

.movie img {
    max-width: 100%;
}

.cover {
    display: inline-block;
}

.movies, .reservation, .contacts {
    display: none;
}