.boxed {
    background-color: #fff;
}
.author {
	padding-left: 15px;
	margin-bottom: 0px;
}
.author::first-letter {
	color: #53d5ff;
}
.not_underlined:hover {
	text-decoration: none
}

.ast_required {
    color: red;
}

.ui-form label.label {
    color: #616161;
    font-weight: normal;
	font-size: 1.2em;
}

.ui-form table td.label {
    vertical-align: top;
}

.ui-form table td.field {
}

.ui-form table td.error {
}

.div-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    margin: 0px;
    padding: 0px;
    border-radius: 3px 3px 3px 3px;
}

.div-error ul {
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
}

.form-group > label {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}

.panel-errors {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-window-shadow: none;
}

.errors {
    font-weight: 700;
    font-size: 14px;
}

.div-error {
    margin-bottom: 10px;
}
.webportal-content {
    padding-bottom: 20px;
}
.message {
    font-size: 1.2em;
}
.dropdown-login {
    padding-bottom: 5px;
}
.error {
    color: #ff0000;
}
.panel-header {
    position: relative;
}
.line-clamp {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5; /* number of lines to show */
   line-height: 1.6em;        /* fallback */
   max-height: 110px;       /* fallback */
}
.btn-info {
    background-color: #008cba;
    border-color: #00708c;
}
.btn-info:hover {
    background-color: #00708c;
    border-color: #00708c;
}
.padding-15 {
    padding: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-left-5 {
    margin-left: 5px;
}
.author-title {
    margin-top: 10px;
    float: right;
    font-size: 50%;
    text-transform: uppercase;
}

/*.page-title {*/
    /*padding-right: 30px;*/
    /*width: inherit !important;*/
/*}*/
.caption-title {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: -0.5em;
}
.btn-wide {
    display: block;
}
.btn-no-action {
    cursor: default;
}
.btn-no-action:hover {
    background-color: #0b9a00;
}
.btn-alone {
    margin-top: 15px;
    margin-bottom: 15px;
}
.attendee:nth-child(odd):hover > td, .attendee:nth-child(even):hover > td {
    cursor: pointer;
    color: #ffffff;
    background-color: #008cba;
}
.logged-user {
    display: block;
    padding: 15px;
    border-right: thin solid #ffffff;
}
.support-panel {
    padding: 1px 0px 0px 0px;
}
.small-panel {
    background-color: #ffffff;
}
.list-group {
    margin-bottom: 0px;
}
.list-group-item {
    border: none;
    border-bottom: solid 2px #dddddd;
}
h4 .fa-caret-right {
    padding-right: 15px;
}
.badge {
    font-size: 10px;
    margin-top: 3px;
}
.language {
    font-size: 14px;
    color: #ffffff !important;
    background-color: #bf0000 !important;
}
.buttons div {
    padding-bottom: 10px;
}