
@import url("animation.css") screen;

*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html {    
    background: #1c1c1c;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    font-size: 10pt;  
}  
h2{
    font-family: 'Lato', sans-serif;; 
    font-size: 40px; 
    color: white;
    position: relative;
    left: 40px;
    top: 5px;
    padding-bottom: 1px;
}

.row{
	width: 100%;
	display: flex;
}
.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}


.header-cont {
    width:100%;
    position:fixed;
    top:0px;
  }

 .header {
 	width: 100%;  
    margin:0px auto;    
}

.content {
    width:1200px;
    background: rgba(225, 53, 0, 0.5);
    height: 2000px;
    margin: 20px auto;
}

.footer{
    width: 100%;  
    margin:0px auto; 
}



<!-- new added-->

.container {
    margin:0 auto;
    overflow:hidden;
    width:100px;
}

/* CONTENT SLIDER */
#content-slider {
    width:100%;
    height:360px;
    margin:10px auto 0;
}
/* SLIDER */
#slider {
    background:#000;
    border:5px solid #eaeaea;
    box-shadow:1px 1px 5px rgba(0,0,0,0.7);
    height:500px;
    width:1000px;
    margin:40px auto 0;
    overflow:visible;
    position:relative;
}
#mask {
    overflow:hidden;
    height:490px;
}
#slider ul {
    margin:0;
    padding:0;
    position:relative;
}
#slider li {
    width:680px;
    height:320px;
    position:absolute;
    top:-575px;
    list-style:none;
}

#slider li.firstanimation {
    -moz-animation:cycle 25s linear infinite;   
    -webkit-animation:cycle 25s linear infinite;        
}
#slider li.secondanimation {
    -moz-animation:cycletwo 25s linear infinite;
    -webkit-animation:cycletwo 25s linear infinite;     
}
#slider li.thirdanimation {
    -moz-animation:cyclethree 25s linear infinite;
    -webkit-animation:cyclethree 25s linear infinite;       
}
#slider li.fourthanimation {
    -moz-animation:cyclefour 25s linear infinite;
    -webkit-animation:cyclefour 25s linear infinite;        
}

#slider li.fifthanimation {
    -moz-animation:cyclefive 25s linear infinite;
    -webkit-animation:cyclefive 25s linear infinite;        
}

#slider:hover li, 
#slider:hover .progress-bar {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar { 
    position:relative;
    top:-5px;
    width:680px; 
    height:5px;
    background:#000;
    -moz-animation:fullexpand 25s ease-out infinite;
    -webkit-animation:fullexpand 25s ease-out infinite;
}