
@import url("animation.css") screen;

*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html {    
    background: #1c1c1c;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    font-size: 10pt;  
}  
h2{
    font-family: 'Lato', sans-serif;; 
    font-size: 40px; 
    color: white;
    position: relative;
    left: 40px;
    top: 5px;
    padding-bottom: 1px;
}

p{
    font-family: 'Lato', sans-serif;; 
    font-size: 20px; 
    color: white;
    position: relative; 
    padding-bottom: 1px;
}

.row{
	width: 100%;
	display: flex;
}
.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}


.header-cont {
    width:100%;
    position:fixed;
    top:0px;
  }

 .header {
 	width: 100%;  
    margin:0px auto;    
}

.content {
    width:1200px;
    background: rgba(225, 53, 0, 0.5);
    height: 1800px;
    margin: 20px auto;
}

.footer{
    width: 100%;  
    margin:0px auto; 
}



<!-- new added-->

.container {
    margin:0 auto;
    overflow:hidden;
    width:100px;
}

/* CONTENT SLIDER */
#content-slider {
    width:100%;
    height:360px;
    margin:10px auto 0;
}
/* SLIDER */
#slider {
    background:#000;
    border:5px solid #eaeaea;
    box-shadow:1px 1px 5px rgba(0,0,0,0.7);
    height:500px;
    width:1000px;
    margin:40px auto 0;
    overflow:visible;
    position:relative;
}
#mask {
    overflow:hidden;
    height:490px;
}
#slider ul {
    margin:0;
    padding:0;
    position:relative;
}
#slider li {
    width:680px;
    height:320px;
    position:absolute;
    top:-575px;
    list-style:none;
}

#slider li.firstanimation {
    -moz-animation:cycle 25s linear infinite;   
    -webkit-animation:cycle 25s linear infinite;        
}
#slider li.secondanimation {
    -moz-animation:cycletwo 25s linear infinite;
    -webkit-animation:cycletwo 25s linear infinite;     
}
#slider li.thirdanimation {
    -moz-animation:cyclethree 25s linear infinite;
    -webkit-animation:cyclethree 25s linear infinite;       
}
#slider li.fourthanimation {
    -moz-animation:cyclefour 25s linear infinite;
    -webkit-animation:cyclefour 25s linear infinite;        
}

#slider li.fifthanimation {
    -moz-animation:cyclefive 25s linear infinite;
    -webkit-animation:cyclefive 25s linear infinite;        
}

#slider:hover li, 
#slider:hover .progress-bar {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar { 
    position:relative;
    top:-5px;
    width:680px; 
    height:5px;
    background:#000;
    -moz-animation:fullexpand 25s ease-out infinite;
    -webkit-animation:fullexpand 25s ease-out infinite;
}

/* REGISTRATION */

   .loginform ul {  
        padding: 0;  
        margin: 0;  
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }  
    .loginform li {  
        display: inline;  
        float: left;  
    }  

    label {  
        display: block;  
        color: #999;  
    }  
    .cf:before,  
    .cf:after {  
        content: "";   
        display: table;  
    }  
      
    .cf:after {  
        clear: both;  
    }  
    .cf {  
        *zoom: 1;  
    }  
    :focus {  
        outline: 0;  
    }  

        .loginform input:not([type=submit]) {  
        padding: 5px;  
        margin-right: 10px;  
        border: 1px solid rgba(0, 0, 0, 0.3);  
        border-radius: 3px;  
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),   
                    0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;  
    }  

        .loginform input[type=submit] {  
        border: 1px solid rgba(0, 0, 0, 0.3);  
        background: #64c8ef; /* Old browsers */  
        background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
        background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
        background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
        background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
        background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */  
        background: linear-gradient(to bottombottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */  
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */  
        color: #fff;  
        padding: 5px 15px;  
        margin-right: 0;  
        margin-top: 15px;  
        border-radius: 3px;  
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);  
    } 

        .registerform input[type=submit] {  
        border: 1px solid rgba(0, 0, 0, 0.3);  
        background: #64c8ef; /* Old browsers */  
        background: -moz-linear-gradient(top,  #FF1919 0%, #FF0000 100%); /* FF3.6+ */  
        background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#FF1919), color-stop(100%,#FF0000)); /* Chrome,Safari4+ */  
        background: -webkit-linear-gradient(top,  #FF1919 0%,#FF0000 100%); /* Chrome10+,Safari5.1+ */  
        background: -o-linear-gradient(top,  #FF1919 0%,#FF0000 100%); /* Opera 11.10+ */  
        background: -ms-linear-gradient(top,  #FF1919 0%,#FF0000 100%); /* IE10+ */  
        background: linear-gradient(to bottombottom,  #FF1919 0%,#FF0000 100%); /* W3C */  
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */  
        color: #fff;  
        padding: 5px 15px;  
        margin-right: 0;  
        margin-top: 15px;  
        border-radius: 3px;  
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);  
    }   

    .divider{
    width:2px;
    height:5px;
    
}