*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row{
	width: 100%;
	display: flex;
}
.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}

html {    
    background: #1c1c1c;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    font-size: 10pt;  
    }  

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
  }

 .header {
 	width: 100%;  
    margin:0px auto;    
}

.content {
    width:1200px;
    background: rgba(225, 53, 0, 0.5);
    height: 1000px;
    margin: 20px auto;
}