{% extends "main/base.html" %}

{% block title %}
   {{ assignment.name }} - Code
{% endblock %}

{% load staticfiles %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "css/codemirror.css" %}" rel="stylesheet">
    <link href="{% static "css/eclipse.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/code_mirror/codemirror.js"%}"></script>
    <script type="text/javascript" src="{% static "js/code_mirror/active-line.js"%} "></script>
    <script type="text/javascript" src="{% static "js/code_mirror/clike.js"%} "></script>
    <script type="text/javascript" src="{% static "js/code_mirror/python.js"%} "></script>
{% endblock %}

{% block content %}
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <section id="components">
                    <article class="component-element" id="navs">
                        <h2 class="underline-title no-margin-top">{{ assignment.name }}</h2>
                        <div class="content">
                            {% load md2 %}
                            {{ assignment.description|markdown:"safe" }}
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Please put your code here
                                <span class="badge language pull-right">{{ assignment.language }}</span>
                            </div>
                            <form id="solution" action="{% url "add_solution" course_id assignment.id %}" name="solution"
                                  method="post">
                                {% csrf_token %}
                                <div class="panel-body">
                                    <textarea id="code" name="code">{{ assignment.templateCode }}</textarea>
                                </div>
                                {% if not is_organizer %}
                                    <button type="submit" id="newSolutionBtn" class="btn btn-success btn-alone pull-right" value="Submit" name="Submit">Submit solution</button>
                                    <button type="button" id="processingBtn" class="btn btn-success btn-alone pull-right" style="display: none">
                                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                        Processing...
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    </article>
                </section>
            </div>
            <div class="col-md-3">
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-list-ul"></i>Additional Information</div>
                        <div class="panel-body support-panel">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#assignments" data-toggle="tab">Assignments</a>
                                        </li>
                                        <li>
                                            <a href="#solutions" data-toggle="tab">Solutions</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content small-panel">
                                        {% if assignments %}
                                            <div class="tab-pane active" id="assignments">
                                                <div class="list-group">
                                                    {% for item in assignments %}
                                                        <a href="{% url "assignment_page" course_id item.id %}" class="list-group-item animated fadeInDown animation-delay-{{ forloop.counter }} {% if assignment.id == item.id %}active{% endif %}">
                                                            <h4 class="list-group-item-heading"><i class="fa fa-caret-right"></i>{{ item.name }}</h4>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="tab-pane padding-15 active" id="assignments">
                                                <h4>No assignments were added yet.</h4>
                                            </div>
                                        {% endif %}
                                        {% if solutions %}
                                            <div class="tab-pane" id="solutions">
                                                <div class="list-group">
                                                    {% for solution in solutions %}
                                                        <a href="{% url "solution_page" course_id assignment.id solution.id %}" class="list-group-item animated fadeInDown animation-delay-{{ forloop.counter }}">
                                                            <span
                                                                    class="badge pull-right">{{ solution.solutionState }}</span>
                                                            <h4 class="list-group-item-heading"><i class="fa fa-caret-right"></i>Solution {{ forloop.counter }}</h4>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="tab-pane padding-15" id="solutions">
                                                {% if is_organizer %}
                                                    <h4>Course organizer can't upload solutions.</h4>
                                                {% else %}
                                                    <h4>No solutions were added yet.</h4>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_bottom %}
<script>
(function ($) {

     $(document).ajaxStart(function () {
        var processingBtn = $("#processingBtn");
        var submitBtn = $("#newSolutionBtn");
        processingBtn.show();
        submitBtn.hide();
        animate(processingBtn, 'pulse ');
    });

    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        {% if assignment.language == 'java' %}
            mode: "text/x-java",
        {% elif assignment.language == 'python' %}
            mode: "python",
        {% endif %}
        styleActiveLine: true,
        lineNumbers: true,
        lineWrapping: true,
        theme: 'eclipse'
    });

    $("#solution").submit(function(e)
    {
        editor.save();
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
        {
            type: "POST",
            url : formURL,
            data : postData,
            success:function(data)
            {
                var url = window.location.href;
                var arr = url.split("/");
                window.location.href = arr[0] + "//" + arr[2] + data['url']
            },
            error: function()
            {
                alert('Something went wrong :(')
            }
        });
        e.preventDefault();
    });

    function animate(element, animation) {
        element.addClass(animation + 'animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass(animation + 'animated');
        });
    }
}(jQuery));
</script>
{% endblock %}