{% extends "main/base.html" %}
{% block title %}
    Courses - Code
{% endblock %}

{% block content %}
    <header class="wrap-title">
        <div class="container">
            <h1 class="page-title">Courses</h1>
            {% if user.is_authenticated and user.is_active %}
                <a class="btn btn-success pull-right animated fadeInDown animation-delay-1" data-toggle="modal" data-target="#newCourseModal">Add course</a>
            {% endif %}
        </div>
    </header>
    <!-- Modal -->
    <div class="modal fade" id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="newCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newCourseModalLabel">Create new course</h4>
                </div>
                <div class="modal-body">
                    <form id="newCourseForm" action="{% url "add_course" %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Course name<span class="ast_required">*</span></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter course name">
                        </div>
                        <div class="form-group">
                            <label for="description">Course description<span class="ast_required">*</span></label>
                            <textarea class="form-control" id="description" rows="5" name="description" placeholder="Enter course description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancelBtn" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="newCourseBtn" class="btn btn-primary">Confirm</button>
                    <button type="button" id="processingBtn" class="btn btn-primary" style="display: none">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        Processing...
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% if not courses %}
        <h4>Sorry, there are no courses yet. Be the first one!</h4>
    {% else %}
        <div class="container">
            <div class="row">
                {% for course in courses %}
                    <div class="col-md-6">
                        <section>
                            <div class="panel panel-default  animated fadeInDown animation-delay-{{ forloop.counter|add:"3" }}">
                                <div class="panel-body">
                                    <div class="panel-header">
                                        <h3 class="section-title">{{ course.name }}
                                            <br/>
                                            <small class="pull-left margin-top-10"
                                                    >{{ course.courseOrganizer.firstName }} {{ course.courseOrganizer.lastName }}</small>
                                            <div class="clearfix"></div>
                                        </h3>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="module line-clamp no-margin-top">
                                        {% autoescape off %}{{ course.description }}{% endautoescape %}
                                    </p>
                                    <div class="clearfix"></div>
                                    <hr/>
                                    <a class="btn btn-info pull-right" href="{% url "course_page" course.id %}">Course Details</a>
                                </div>
                            </div>
                        </section>
                    </div>
                {% endfor %}
            </div>
            {% if paginator %}
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        {% if courses.has_previous %}
                            <li><a href="?page=1"><<</a></li>
                            <li>
                                <a href="?page={{ courses.previous_page_number }}"><</a>
                            </li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            <li {% if courses.number == i %}
                                class="active" {% endif %}><a
                                    href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}

                        {% if courses.has_next %}
                            <li><a href="?page={{ courses.next_page_number }}">></a>
                            </li>
                            <li>
                                <a href="?page={{ courses.paginator.num_pages }}">>></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts_bottom %}
    <script>
        (function($) {
            $(document).ready(function () {
                $(document)
                        .ajaxStart(function () {
                            var processingBtn = $("#processingBtn");
                            var submitBtn = $("#newCourseBtn");
                            processingBtn.show();
                            submitBtn.hide();
                            animate(processingBtn, 'pulse ');
                        })
                        .on( 'hidden.bs.modal', '.modal', function() {
                            $(document.body).removeClass( 'modal-scrollbar' );
                        })
                        .on( 'show.bs.modal', '.modal', function() {
                            if ( $(window).height() < $(document).height() ) {
                                $(document.body).addClass( 'modal-scrollbar' );
                            }
                        });
            });

            function animate(element, animation) {
                element.addClass(animation + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                    $(this).removeClass(animation + ' animated');
                });
            }

            function checkField (field){
                if( !field.val() ) {
                    field.addClass('invalid-field');
                    animate(field, 'shake');
                    return false;
                }
                else {
                    field.removeClass('invalid-field');
                    return true;
                }
            }

            function formIsValid(){
                var name = $('#name');
                var description = $('#description');
                var name_is_valid = checkField(name);
                var description_is_valid = checkField(description);
                return  name_is_valid && description_is_valid
            }

            $('#newCourseBtn').on('click', function(){
                if(formIsValid()) {
                    var form = $('#newCourseForm');
                    $.ajax(
                    {
                        type: "POST",
                        url : form.attr("action"),
                        data : form.serializeArray(),
                        success:function(data)
                        {
                            var url = window.location.href;
                            var arr = url.split("/");
                            window.location.href = arr[0] + "//" + arr[2] + data['url']
                        },
                        error: function(){
                            alert('Something went wrong :(')
                        }
                    });
                }
            });

        })(window.jQuery);
    </script>
{% endblock %}