{% extends "main/base.html" %}
{% block title %}
   Course page
{% endblock %}

{% block content %}
	<h1>Course page</h1>
    <div class="ui-form">
    <table>
        <tbody>
            <tr>
                <td class="label">
                    <label class="label">Course name:</label>
                </td>
                <td>
                    {{course.name}}
                </td>
            </tr>

            <tr>
                <td class="label">
                    <label class="label">Course description:</label>
                </td>
                <td>
                    {{course.description}}
                </td>
            </tr>
            <tr>
                <td class="label">
                    <label class="label">Organizer:</label>
                </td>
                <td>
                    {{course.courseOrganizer.firstName}} {{course.courseOrganizer.lastName}}
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    {% if organizer %}
	<br/>
	<input class="input" type="button" onclick="location.href='{% url "edit_course" course.id %}'" value="Edit course"/>
    <input class="input" type="button" onclick="if(!confirm('Are you sure you want to delete the course?')) return false;
            else location.href='{% url "delete_course" course.id %}'" value="Delete course"/>
	<br/>
	{% endif %}
    <br/>
    <a href="{% url "course_list" %}">Go to courses</a>
{% endblock %}