{% extends "main/base.html" %}
{% block title %}
   {{course.name}} - Code
{% endblock %}

{% load staticfiles %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "css/codemirror.css" %}" rel="stylesheet">
    <link href="{% static "css/eclipse.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/code_mirror/codemirror.js"%}"></script>
    <script type="text/javascript" src="{% static "js/code_mirror/clike.js"%}"></script>
    <script type="text/javascript" src="{% static "js/code_mirror/python.js"%}"></script>
    <script type="text/javascript" src="{% static "js/code_mirror/placeholder.js"%}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js"%} "></script>
{% endblock %}

{% load macros %}
{% macro author_panel %}
    <div class="author-panel">
        <h4 class="section-title">Author</h4>
        <div class="text-center animated fadeInDown animation-delay-1">
            <h4 class="caption-title">{{organizer.firstName}} {{organizer.lastName}}</h4>
            <img src="{{organizer_img}}" alt="t2" width="180" class="imageborder">
            <div class="author-info margin-top-10">
                <i class="fa fa-envelope"></i>
                <span class="margin-left-5">{{ organizer.email }}</span>
            </div>
        </div>
    </div>
    <div class="buttons">
        <hr/>
        {% if is_organizer %}
            <div id="add-assignment">
                <a class="btn btn-success btn-wide animated fadeInDown animation-delay-2" data-toggle="modal" data-target="#newAssignmentModal">Add new assignment</a>
            </div>
            <div id="course-delete">
                <a class="btn btn-danger btn-wide animated fadeInDown animation-delay-2" href="{% url "delete_course" course.id %}">Delete a course</a>
            </div>
        {% elif user.is_authenticated and is_attendee %}
            <div id="course-registered">
                <a class="btn btn-success btn-wide btn-no-action animated fadeInDown animation-delay-2" href="" onclick="return false;">You are registered for this course.</a>
            </div>
        {% else %}
            <div id="course-register">
                <a class="btn btn-success btn-wide animated fadeInDown animation-delay-2" href="{% url "attend_course" course.id %}">Register for a course</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                {% if not is_organizer %}
                    <section id="components">
                        <article class="component-element" id="navs">
                            <h2 class="underline-title no-margin-top">{{ course.name }}</h2>
                            <div class="content">{% autoescape off %}{{ course.description }}{% endautoescape %}</div>
                        </article>
                    </section>
                {% else %}
                    <h2 class="underline-title no-margin-top">{{ course.name }}</h2>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="organizer-navs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#course-description"data-toggle="tab">Course Description</a>
                                </li>
                                <li>
                                    <a href="#attendees" data-toggle="tab">Course attendees</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content padding-15">
                                <div class="tab-pane active" id="course-description">
                                    {% autoescape off %}{{ course.description }}{% endautoescape %}
                                </div>
                                <div class="tab-pane" id="attendees">
                                {% if not attendees %}
                                    <p>Sorry, no users registered to the course yet</p>
                                {% else %}
                                    <h4>Please choose a user to view his/her solutions.</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>№</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                        </tr>
                                        {% for attendee in attendees %}
                                            <tr class="attendee" onclick="document.location = '{% url 'attendee_solutions' course.id attendee.id %}';">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ attendee.firstName }}</td>
                                                <td>{{ attendee.lastName }}</td>
                                                <td>{{ attendee.email }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3">
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-list-ul"></i>Additional Information</div>
                            {% if not is_attendee and not is_organizer %}
                                <div class="panel-body">
                                {% usemacro author_panel %}
                            {% else %}
                                <div class="panel-body support-panel">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#author"data-toggle="tab">Author</a>
                                            </li>
                                            <li>
                                                <a href="#assignments" data-toggle="tab">Assignments</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content small-panel">
                                            <div class="tab-pane padding-15 active" id="author">
                                                {% usemacro author_panel %}
                                            </div>
                                            {% if assignments %}
                                                <div class="tab-pane" id="assignments">
                                                    <div class="list-group">
                                                        {% for assignment in assignments %}
                                                            <a href="{% url "assignment_page" course.id assignment.id %}" class="list-group-item animated fadeInDown animation-delay-{{ forloop.counter }}">
                                                                <h4 class="list-group-item-heading"><i class="fa fa-caret-right"></i>{{ assignment.name }}</h4>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="tab-pane padding-15" id="assignments">
                                                    <h4>No assignments were added yet.</h4>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="newAssignmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newAssignmentModalLabel">Create new course</h4>
                </div>
                <div class="modal-body">
                    <form id="newAssignmentForm" action="{% url "add_assignment" course.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Assignment name<span class="ast_required">*</span></label>
                            <div class="input-group form-inline" style="width:100%">
                                <div class="form-group" style="width:80%">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter assignment name">
                                </div>
                                <div class="form-group" style="width:20%">
                                    <select id="language" class="form-control" name="language">
                                        {% for value, label in languages %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Assignment description<span class="ast_required">*</span></label>
                            <textarea class="form-control" id="description" rows="5" name="description" placeholder="Enter assignment description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="template_code">Template code<span class="ast_required">*</span></label>
                            <div class="panel-bordered">
                                <textarea class="form-control" id="template_code" name="template_code" placeholder="Enter template code for attendee of the course"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="verification_code">Verification code<span class="ast_required">*</span></label>
                            <div class="panel-bordered">
                                <textarea class="form-control" id="verification_code" name="verification_code" placeholder="Enter verification code. It will be visible only for you"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancelBtn" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="newAssignmentBtn" class="btn btn-primary">Confirm</button>
                    <button type="button" id="processingBtn" class="btn btn-primary" style="display: none">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        Processing...
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_bottom %}
    <script>
        (function($) {
            $(document).ready(function () {
                $(document)
                        .ajaxStart(function () {
                            var processingBtn = $("#processingBtn");
                            var submitBtn = $("#newAssignmentBtn");
                            processingBtn.show();
                            submitBtn.hide();
                            animate(processingBtn, 'pulse ');
                        })
                        .on( 'hidden.bs.modal', '.modal', function() {
                            $(document.body).removeClass( 'modal-scrollbar' );
                        })
                        .on( 'show.bs.modal', '.modal', function() {
                            if ( $(window).height() < $(document).height() ) {
                                $(document.body).addClass( 'modal-scrollbar' );
                            }
                        });
            });

            $('#language').on( "change", function () {
                var mode = getMode();
                console.log(mode);
                template_code_editor.setOption("mode", mode);
                verification_code_editor.setOption("mode", mode);
            });

            function getMode(){
                var el = document.getElementById("language");
                var language = el.options[el.selectedIndex].value;
                if (language == 'java') {
                    var mode = "text/x-java";
                }
                else {
                    var mode = "python";
                }
                return mode;
            }

            function createEditor(el) {
                var editor = CodeMirror.fromTextArea(el, {
                    height: "200px",
                    mode: getMode(el),
                    styleActiveLine: true,
                    lineWrapping: true,
                    placeholder: "Enter your code here",
                    theme: 'eclipse'
                });
                editor.setSize('auto', 150)
                return editor
            }

            var template_code = document.getElementById('template_code');
            var verification_code = document.getElementById('verification_code');
            template_code_editor = createEditor(template_code);
            verification_code_editor = createEditor(verification_code);

            $('.CodeMirror').resizable({
                resize: function() {
                  $(this).width();
                  $(this).height();
                }
            });

            function animate(element, animation) {
                element.addClass(animation + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                    $(this).removeClass(animation + ' animated');
                });
            }

            function checkField (field){
                if( !field.val() ) {
                    field.addClass('invalid-field');
                    animate(field, 'shake')
                    return false;
                }
                else {
                    field.removeClass('invalid-field');
                    return true;
                }
            }

            function checkTextarea(field){
                if( !field.val() ) {
                    var code_mirror = field.siblings('.CodeMirror');
                    code_mirror.addClass('invalid-field');
                    animate(code_mirror, 'shake');
                    return false;
                }
                else {
                    field.siblings('.CodeMirror').removeClass('invalid-field');
                    return true;
                }
            }

            function formIsValid(){
                template_code_editor.save();
                verification_code_editor.save();
                var name_is_valid = checkField($('#name')),
                    description_is_valid = checkField($('#description')),
                    tcode_is_valid = checkTextarea($('#template_code')),
                    vcode_is_valid = checkTextarea($('#verification_code'));
                return  name_is_valid && description_is_valid &&
                        tcode_is_valid && vcode_is_valid
            }

            $('#newAssignmentBtn').on('click', function(){
                if(formIsValid()) {
                    var form = $('#newAssignmentForm');
                    $.ajax(
                    {
                        type: "POST",
                        url : form.attr("action"),
                        data : form.serializeArray(),
                        success:function(data)
                        {
                            var url = window.location.href;
                            var arr = url.split("/");
                            window.location.href = arr[0] + "//" + arr[2] + data['url']
                        },
                        error: function(){
                            alert('Something went wrong :(')
                        }
                    });
                }
            });

        })(window.jQuery);
    </script>
{% endblock %}